Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: add guide for hardhat chore: add ultra endpoint
  HARDHAT_GUIDE.md
  hardhat.config.ts
Due: prettier --write

build: bump evm utild
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/transferTokens.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: rename mapping to aggregateAmount
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/refund.t.sol
  tests/integration/fuzz/refundMax.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: rename to "aggregateAmount"
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/refund.t.sol
  tests/integration/fuzz/refundMax.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: rename script directory to scripts
  scripts/Base.s.sol
  scripts/DeployDeterministicFlow.s.sol
  scripts/DeployFlow.s.sol
  scripts/Init.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove diagram, technical-docs and moved invairiants
  DIAGRAMS.md
  TECHNICAL-DOC.md
  tests/invariant/README.md
Due: prettier --write

chore: use plural form for scripts
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployDeterministicFlow.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployFlow.s.sol
  scripts/DeployProtocol.s.sol
  scripts/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: use plural form for scripts (#425)
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployDeterministicFlow.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployFlow.s.sol
  scripts/DeployProtocol.s.sol
  scripts/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: move shell scripts under scripts/bash
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: nitpicks
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lockb
  package.json
Due: prettier --write

docs: nitpick
  src/abstracts/SablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: remove redundant docs docs: move invariant list to a separate README file
  DIAGRAMS.md
  README.md
  SECURITY.md
  TECHNICAL-DOC.md
  tests/invariant/Flow.t.sol
  tests/invariant/README.md
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

testing paths filter
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: remove remappings file
  .gitignore
  README.md
  remappings.txt
Due: prettier --write

feat: collect fee with fee recipient
  bun.lock
  package.json
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: remove redundant time warp
  tests/integration/concrete/collect-fees/collectFees.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: nitpick for error natspec
  src/libraries/Errors.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
