Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: rename Segment to Period
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(docs): polish comments test(invariant): include Vars struct in FlowCreateHandler test(invariant): update range for rps during create handlers test(invariant): use named parameter in mapping
  README.md
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(invariant): bound rps based on decimals in handler
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: invariant config
  foundry.toml
Due: none

test: polish natspecs
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: github workflow for deep testing
  .github/workflows/ci-deep.yml
Due: prettier --write

build: improve lite profile
  foundry.toml
  package.json
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: move previous mappings in store contract
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: adjust amount withdrawn
  .solhint.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish
  .solhint.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: assertions in fork test
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: refine withdraw concrete tests
  test/fork/Flow.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/withdraw.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish explanations in "_withdraw"
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/streamingLoss.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: further polish
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: modified withdrawn amount not zero perf: unchecked around protocol invariant
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: natspecs
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: check withdraw amount is not too small
  src/SablierFlow.sol
  src/libraries/Errors.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: amount too small check test for withdraw
  test/integration/concrete/streamingLoss.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/concrete/withdraw/withdraw.tree
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: order alphabetically
  .github/workflows/ci-deep.yml
Due: prettier --write

test: amount withdrawn after multiple withdrawals
  test/integration/concrete/multiple-withdrawals/multipleWithdrawals.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: rename mvt to scaleFactor
  test/integration/concrete/multiple-withdrawals/multipleWithdrawals.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: rename test to "withdraw no delay"
  test/integration/concrete/withdraw-no-delay/withdrawNoDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: amount withdrawn after multiple withdrawals (#255)
  test/integration/concrete/withdraw-no-delay/withdrawNoDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

perf: improve logic of withdraw
  src/SablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: fuzz test to check tolerance and delay
  test/integration/fuzz/ToleranceDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: include tolerance in invariant
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
