Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

chore: use YML for lint-staged config
  .husky/pre-commit
  .lintstagedrc.json
  .lintstagedrc.yml
  src/SablierFlow.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

script: add prepare script to automate husky setup after bun install
  bun.lockb
  package.json
Due: prettier --write

refactor: rename "lastUpdateTime" to "lastUpdatedTime"
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  test/integration/concrete/amount-owed-of/amountOwedOf.t.sol
  test/integration/concrete/amount-owed-of/amountOwedOf.tree
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/recent-amount-of/recentAmountOf.t.sol
  test/integration/concrete/recent-amount-of/recentAmountOf.tree
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.tree
  test/integration/concrete/restart/restart.t.sol
  test/integration/concrete/restart/restart.tree
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.tree
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.tree
  test/integration/fuzz/create.t.sol
  test/integration/fuzz/recentAmountOf.t.sol
  test/integration/fuzz/restart.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Assertions.sol
  test/utils/Events.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: update variable names
  README.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/pause/pause.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.tree
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.tree
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/void/void.tree
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.tree
  test/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  test/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.tree
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/amountOwedOf.t.sol
  test/integration/fuzz/pause.t.sol
  test/integration/fuzz/recentAmountOf.t.sol
  test/integration/fuzz/uncoveredeDebtOf.t.sol
  test/integration/fuzz/void.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Events.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: polish events
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/pause/pause.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/pause.t.sol
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: rename "withdrawableAmount" to "coveredDebt"
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.tree
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.tree
  test/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.tree
  test/integration/fuzz/withdrawMax.t.sol
  test/integration/fuzz/withdrawableAmountOf.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish NatSpec
  foundry.toml
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/fork/Fork.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/create.t.sol
  test/integration/fuzz/void.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Constants.sol
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: rename "isTransferable" to "transferable"
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/create/create.tree
  test/integration/concrete/transfer-from/transferFrom.t.sol
  test/integration/fuzz/create.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: reorder imports
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: normalized terminology
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/fork/Fork.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/refund.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: normalized amount in events
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.tree
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/deposit.t.sol
  test/integration/fuzz/refund.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Constants.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add "normalizedAmountOf"
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/normalized-refundable-amount-of/normalizedRefundableAmountOf.t.sol
  test/integration/concrete/normalized-refundable-amount-of/normalizedRefundableAmountOf.tree
  test/integration/concrete/ongoing-debt-of/ongoingDebtOf.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: default asset with 6 decimals
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  test/Base.t.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/deposit/deposit.tree
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refund/refund.tree
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/create.t.sol
  test/utils/Constants.sol
  test/utils/Events.sol
  test/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: fix indenting in tree files
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.tree
  test/integration/concrete/create-and-deposit/createAndDeposit.tree
  test/integration/concrete/depletion-time-of/depletionTimeOf.tree
  test/integration/concrete/deposit-and-pause/depositAndPause.tree
  test/integration/concrete/refund-and-pause/refundAndPause.tree
  test/integration/concrete/status-of/statusOf.tree
  test/integration/concrete/void/void.tree
  test/integration/concrete/withdraw-at/withdrawAt.tree
Due: none

test: fix bulloak check
  test/integration/concrete/deposit-via-broker/depositViaBroker.tree
  test/integration/concrete/refund/refund.tree
Due: none

refactor: order alphabetically
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Helpers.sol
Due: bun solhint --fix --noPrompt, forge fmt

style: run forge fmt
  src/abstracts/SablierFlowState.sol
Due: bun solhint --fix --noPrompt, forge fmt

style: add empty line between imports
  src/SablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/ongoing-debt-of/ongoingDebtOf.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/deposit.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/pause.t.sol
  test/integration/fuzz/refund.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/restart.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/uncoveredDebtOf.t.sol
  test/integration/fuzz/void.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: re-add withdrawableAmountOf function
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.tree
  test/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add withdraw time in the event
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: polish statusOf comments
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update README and diagrams
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlowState.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish natspec
  src/interfaces/ISablierFlow.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: replace rfa with ra
  README.md
  diagrams.md
Due: prettier --write

refactor: function orders
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: use short form in event params
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/fuzz/deposit.t.sol
  test/integration/fuzz/refund.t.sol
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: use equality in the balance invariant
  README.md
  test/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

polish wording
  src/SablierFlow.sol
  src/types/DataTypes.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: update tree-path as per latest bulloak changelog
  .github/workflows/ci.yml
Due: prettier --write

test: fix bulloak check
  test/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  test/integration/concrete/status-of/statusOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  test/integration/concrete/create/create.tree
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/deposit/deposit.tree
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  test/integration/fuzz/deposit.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/mocks/ERC20MissingReturn.sol
  test/utils/Constants.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

Update src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: use unchecked only where the subtraction happen in withdrawAt
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Helpers.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: allow the sender to void a stream
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/void/void.tree
  test/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt
