Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

docs: polish natspec
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: re order _create params
  DIAGRAMS.md
  src/SablierFlow.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

remove redundant imports
  src/types/DataTypes.sol
  tests/integration/fuzz/pause.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: remove benchmarks
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  foundry.toml
  package.json
  tests/Base.t.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

shub feedback
  DIAGRAMS.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/utils/Constants.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: say now instead of block.timestamp
  DIAGRAMS.md
Due: prettier --write

test: add one more inv and polish
  TECHNICAL-DOC.md
  tests/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: revert lower cases in diagram
  DIAGRAMS.md
Due: prettier --write

test: create streams with start time in the past in fuzz tests
  tests/integration/Integration.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/coveredDebtOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/integration/fuzz/refundableAmountOf.t.sol
  tests/integration/fuzz/totalDebtOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add pending tests for adjust, void and od
  DIAGRAMS.md
  TECHNICAL-DOC.md
  tests/integration/Integration.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.tree
  tests/integration/concrete/void/void.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: add optimism retro-funding json file
  funding.json
Due: prettier --write

refactor: bump evm-utils
  SECURITY.md
  bun.lockb
  package.json
  remappings.txt
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  tests/Base.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: revert BaseScript test removal
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(fork): run fork tests without forking the chain in non-production environment
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/fork/tokens/DAI.t.sol
  tests/fork/tokens/EURS.t.sol
  tests/fork/tokens/SHIBA.t.sol
  tests/fork/tokens/USDC.t.sol
  tests/fork/tokens/USDT.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: add more rpc endpoints
  foundry.toml
Due: none

feat: add NFTDescriptor addresses
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  script/NFTDescriptorAddresses.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish comments
  tests/fork/Fork.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add new deployment scripts
  script/DeployDeterministicFlow.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployFlow.s.sol
  script/DeployProtocol.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: refactor SECURITY doc
  SECURITY.md
Due: prettier --write

smol polish
  SECURITY.md
Due: prettier --write

build: update solc to 0.8.29
  foundry.toml
Due: none

ci: add multibuild workflow
  .github/workflows/multibuild.yml
Due: prettier --write

ci: rename multibuild workflow file
  .github/workflows/ci-multibuild.yml
Due: prettier --write

fix: use safeTransferFrom
  SECURITY.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/integration/fuzz/TransferFrom.t.sol
  tests/integration/fuzz/transferTokensFrom.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

shub feedback
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Helpers.sol
  tests/integration/fuzz/transferTokens.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm utils
  SECURITY.md
  bun.lockb
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.tree
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish natspec
  src/libraries/Helpers.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: rename custom error
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix formatting
  SECURITY.md
Due: prettier --write

docs: polish comments
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
Due: bun solhint --fix --noPrompt, forge fmt
