Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

style: run forge fmt
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  test/invariant/handlers/FlowCreateHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: polish comments
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(refactor): refactor benchmarks to use 6 decimal assets
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  foundry.toml
  package.json
  test/integration/Integration.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/withdrawAt.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(benchmark): dry fy benchmark contract
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  test/integration/Integration.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(benchmark): rename benchmark_functionWithSelector to computeGas
  benchmark/Flow.Gas.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove composite functions from the benchmark
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

build: remove unneded permissions
  benchmark/results/SablierFlow.md
  foundry.toml
  test/Base.t.sol
  test/utils/.npmignore
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: use UD21x18 for rate per second
  bun.lockb
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/pause/pause.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/restart/restart.t.sol
  test/integration/concrete/total-debt-of/totalDebtOf.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/create.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/restart.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Constants.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: update README
  README.md
Due: prettier --write

chore: update bun lockfile
  bun.lockb
Due: none

docs: polish
  test/invariant/handlers/FlowCreateHandler.sol
  test/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: remove some of seed variables
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: use unwrap in depletionTimeOf
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

rebase with main
  test/integration/fuzz/Fuzz.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: use UD21x18 for rate per second
  test/integration/fuzz/Fuzz.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add VOIDED status
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/restart/restart.t.sol
  test/integration/concrete/restart/restart.tree
  test/integration/concrete/status-of/statusOf.t.sol
  test/integration/concrete/status-of/statusOf.tree
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/void/void.tree
  test/invariant/handlers/FlowHandler.sol
  test/utils/Assertions.sol
  test/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(fork): improve _findNonVoidedStreamId function
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add notVoided modifier
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  test/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/deposit/deposit.tree
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refund/refund.tree
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/restart/restart.t.sol
  test/integration/concrete/void/void.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: add more invariants for voided streams
  README.md
  test/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

feat: protocol fee
  README.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  test/Base.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  test/integration/concrete/constructor.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  test/integration/concrete/covered-debt-of/coveredDebtOf.tree
  test/integration/concrete/create/create.t.sol
  test/integration/concrete/create/create.tree
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.tree
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/deposit/deposit.tree
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refund/refund.tree
  test/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  test/integration/concrete/refundable-amount-of/refundableAmountOf.tree
  test/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  test/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  test/integration/concrete/set-protocol-fee/setProtocolFee.tree
  test/integration/concrete/token-uri/tokenURI.t.sol
  test/integration/concrete/token-uri/tokenURI.tree
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.tree
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.tree
  test/integration/fuzz/withdrawAt.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Constants.sol
  test/utils/Events.sol
  test/utils/Modifiers.sol
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(fix): check the token in _findNonVoidedStreamId
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: use to parameter in collectProtocolRevenue function docs: polish docs
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: emit protocol fee amount in withdraw amount
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

perf: load protocol fee in memory test: use bound from PRBMath library
  src/SablierFlow.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: use fixed-point percentage to refer to percentage fees
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/types/DataTypes.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove redundant imports
  test/integration/fuzz/Fuzz.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: rename state contract to SablierFlowBase
  shell/prepare-artifacts.sh
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  test/integration/concrete/constructor.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  test/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  test/integration/concrete/transfer-from/transferFrom.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.tree
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Constants.sol
  test/utils/Events.sol
  test/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

polish docs
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

shub's feedback
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/types/DataTypes.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.tree
  test/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  test/integration/concrete/restart-and-deposit/restartAndDeposit.tree
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  README.md
  src/interfaces/ISablierFlow.sol
  test/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: order invariant handler alphabetically
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix polish code
  src/abstracts/SablierFlowBase.sol
  src/libraries/Errors.sol
  test/integration/Integration.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/refund/refund.tree
  test/integration/concrete/set-protocol-fee/setProtocolFee.tree
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: discrepancy in time value during withdrawAt
  .github/workflows/ci.yml
  README.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/ongoing-debt-of/ongoingDebtOf.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refund.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: declare struct to fix stack too deep error
  foundry.toml
  src/SablierFlow.sol
  src/libraries/Helpers.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: rename vars
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  src/SablierFlow.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish natspec for _ongoingDebt
  .github/workflows/ci.yml
  src/SablierFlow.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: remove createAndDepositViaBroker
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.t.sol
  test/integration/concrete/create-and-deposit-via-broker/createAndDepositViaBroker.tree
Due: bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
