Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: remove extra dollar signs
  PRECISION-ISSUE.md
Due: prettier --write

docs(precision): correct latex variable name
  precision.md
Due: prettier --write

docs(precision): use "interval" over "time"
  PRECISION.md
Due: prettier --write

docs(precision): shub feedback
  PRECISION.md
  tests/fork/Fork.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: rename file
  PRECISION-ISSUE.md
Due: prettier --write

docs(precision): correct grammar
  PRECISION.md
  diagrams.md
Due: prettier --write

test: update block number forked
  tests/fork/Fork.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs(precision): polish grammar
  PRECISION-ISSUE.md
Due: prettier --write

docs(precision): furthur polish grammar
  PRECISION-ISSUE.md
Due: prettier --write

test: update token uri test
  tests/integration/concrete/token-uri/tokenURI.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add json format with base64 in tokenURI
  script/GenerateSVG.s.sol
  shell/generate-svg.sh
  src/FlowNFTDescriptor.sol
  src/interfaces/IFlowNFTDescriptor.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

iaro feedback
  PRECISION-ISSUE.md
Due: prettier --write

fix missing "{" and space
  src/FlowNFTDescriptor.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add table creator script contract
  .gitignore
  foundry.toml
  script/Base.s.sol
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  script/TableCreator.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish presision-issue file
  PRECISION-ISSUE.md
Due: prettier --write

docs: fix latex error
  PRECISION-ISSUE.md
Due: prettier --write

docs: correct grammar and polishes
  PRECISION-ISSUE.md
Due: prettier --write

docs: polish docs
  PRECISION-ISSUE.md
Due: prettier --write

docs: fix latex
  PRECISION-ISSUE.md
Due: prettier --write

docs: fix latex in footer
  PRECISION-ISSUE.md
Due: prettier --write

docs: fix latext
  PRECISION-ISSUE.md
Due: prettier --write

docs: fix math block
  PRECISION-ISSUE.md
Due: prettier --write

docs: polish
  PRECISION-ISSUE.md
Due: prettier --write

docs: andrei feedback
  PRECISION-ISSUE.md
Due: prettier --write

docs: update plot graphs
  images/initial_function.png
  images/longest_delay.png
  images/no_delay.png
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: last polishes
  DIAGRAMS.md
  PRECISION-ISSUE.md
Due: prettier --write

docs: rename file to technical doc
  CONTRIBUTING.md
  DIAGRAMS.md
  README.md
  TECHNICAL-DOC.md
Due: prettier --write

docs: shub feedback
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: polish readme
  README.md
Due: prettier --write

docs: update how Flow works section
  TECHNICAL-DOC.md
Due: prettier --write

docs: alphabetical order for abbreviation
  TECHNICAL-DOC.md
Due: prettier --write

docs: polish technical docs
  TECHNICAL-DOC.md
Due: prettier --write

docs: last polishes
  TECHNICAL-DOC.md
Due: prettier --write

improve phrasing
  TECHNICAL-DOC.md
Due: prettier --write

add reference to od function
  TECHNICAL-DOC.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
