Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish natspec in depletionTimeOf
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: return ongoing debt as 0 when renormalizedOngoingDebt < ratePerSecond
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: change the time param in withdraw with an amount
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  diagrams.md
  package.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.t.sol
  test/integration/concrete/withdraw-at/withdrawAt.tree
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/concrete/withdraw/withdraw.tree
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawAt.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: fix
  diagrams.md
  src/SablierFlow.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

perf: remove redudant assert
  src/libraries/Helpers.sol
  test/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

Shub's feedback
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  package.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: remove redundant lines in withdraw handler
  test/Base.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

undeeded imports
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: precision issue in withdraw amount
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add getRenormalizedAmount in Utils.sol test: assertions in withdrawMax fuzz test
  test/fork/Flow.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: set lower bound for timejump to 0 in fuzz and invariant
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/deposit.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/pause.t.sol
  test/integration/fuzz/restart.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/uncoveredDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/handlers/BaseHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

remove comment
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: lower bound for rps
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: remove corrected time logic
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/pause.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: remove corrected time logic (#236)
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/Integration.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/pause.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: polish
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(invariant): use vm.assume in handlers
  test/invariant/handlers/BaseHandler.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

polish comments
  test/invariant/handlers/BaseHandler.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add a new invariant for streamed amount
  README.md
  src/SablierFlow.sol
  test/fork/Flow.t.sol
  test/invariant/Flow.t.sol
  test/invariant/handlers/BaseHandler.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: use mapping for amounts sum per token
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: rename modifiers
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add invariant_TotalDebtEqTotalStreamedMinusWithdrawn
  foundry.toml
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: adjust amount withdrawn
  .solhint.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish
  .solhint.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: assertions in fork test
  test/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: refine withdraw concrete tests
  test/fork/Flow.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/withdraw.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish explanations in "_withdraw"
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/fork/Flow.t.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  test/integration/concrete/refund-and-pause/refundAndPause.t.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/adjustRatePerSecond.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: further polish
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: natspecs
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: modified withdrawn amount not zero perf: unchecked around protocol invariant
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: check withdraw amount is not too small
  src/SablierFlow.sol
  src/libraries/Errors.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: increased invariant runs and depth test(invariant): streamed amount related invariant
  .github/workflows/ci.yml
  README.md
  test/invariant/Flow.t.sol
  test/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: starttimes
  test/invariant/Flow.t.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: token balance against flow store
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: increase runs for better results
  .github/workflows/ci.yml
Due: prettier --write

test: use return in useFuzzedStream
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(invariant): stream balance == deposited - refunded - withdrawn
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: fix invariant check
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
