Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

chore: just scrips
  .github/workflows/ci-multibuild.yml
  bun.lock
  package.json
Due: prettier --write

build: bump devkit package
  bun.lock
Due: none

chore: update repository field in package.json
  package.json
Due: prettier --write

build: fix devkit placement
  bun.lock
  package.json
Due: prettier --write

chore: just scripts (#448)
  .github/workflows/ci-deep.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci.yml
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --write

build: bump evm-utils
  bun.lock
  package.json
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/recover/recover.tree
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.tree
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.tree
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: remove unused error
  src/libraries/Errors.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: check the msg.value in withdraw
  bun.lock
  src/SablierFlow.sol
  src/libraries/Errors.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: polish invariant handlers
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: invariant handlers
  LICENSE.md
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: use api key infura
  .env.example
  foundry.toml
Due: none

chore: rename bnb to bsc build: bump evm-utils script: use ChainId library
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: update functions to query fees refactor: rename ComptrollerManager to Comptrollerable feat: add calculateMinFeeWei function to query campaign fee docs: use best practices for license
  LICENSE-BUSL.md
  LICENSE.md
  README.md
  bun.lock
  package.json
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/calculate-min-fee-wei-for/calculateMinFeeWeiFor.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

build: evm-utils import
  bun.lock
  package.json
Due: prettier --write

build: bump devkit
  bun.lock
Due: none

feat: emit creator address in create events
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/fuzz/create.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update ens subname in license
  LICENSE-BUSL.md
  package.json
Due: prettier --write

build: bump solhint
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  tests/.solhint.json
Due: prettier --write

test(fuzz): multiple withdrawals with large rps
  tests/integration/fuzz/withdrawMaxMultiple.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

CI: migrate workflows to checkout v5
  .github/workflows/ci-multibuild.yml
Due: prettier --write

test: change upper bound to 2e18 in withdraw multiple fuzz tests
  tests/integration/fuzz/withdrawMaxMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: pin foundry version to v1.2.3 for invariant tests
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  tests/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

perf(invariant): using bounds to lower discard rates fix(invariant): calculating elapsed time when start time is in the future
  tests/Base.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt
