Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: remove unneeded ignored file
  .gitignore
Due: none

docs: changelog for v1.1.0
  CHANGELOG.md
Due: prettier --write

docs: include first release in changelog
  CHANGELOG.md
Due: prettier --write

docs: add v1.0.0 hyperlink
  CHANGELOG.md
Due: prettier --write

zksync deployment
  .gitignore
  bun.lockb
  deploy/deployZkSync.ts
  foundry.toml
  hardhat.config.zkSync.ts
  package.json
Due: prettier --write

feat: add support for abstract chain
  bun.lockb
  deploy/deploy.ts
  deploy/deployZkSync.ts
  hardhat.config.ts
  hardhat.config.zkSync.ts
  package.json
Due: prettier --write

chore: add more ignore dirs
  .gitignore
Due: none

refactor: remove precompiles
  SECURITY.md
  codecov.yml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/utils/Precompiles.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: use mainnet address in fork testing
  tests/fork/Fork.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

script: make _run internal
  script/DeployDeterministicFlow.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: remove broker fee functionality
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.tree
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/payable/payable.tree
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: remove protocol fees
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.tree
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Vars.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

tests: use relative path in Utility contracts
  tests/utils/Assertions.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update changelog and bump package version
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write

ci: add fork test workflow
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
Due: prettier --write

chore: line length
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove unused import
  tests/fork/Fork.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: update commit
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

remove unused imports
  tests/Base.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: update to latest evm-utils version
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

polish notice
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: include token transfer wrapper
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/fuzz/TransferFrom.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish natspec and explanatory comments
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/fuzz/TransferFrom.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

polish comment
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add createWithStartTime function
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create-with-start-time/createWithStartTime.t.sol
  tests/integration/concrete/create-with-start-time/createWithStartTime.tree
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/fuzz/create.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add fuzz tests for createWithStartTime
  TECHNICAL-DOC.md
  tests/integration/concrete/create-with-start-time/createWithStartTime.t.sol
  tests/integration/fuzz/createWithStartTime.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: fix calculateExpectedStreamedAmount helper function
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: keep only one create function
  foundry.toml
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/fork/Flow.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create-with-start-time/createWithStartTime.t.sol
  tests/integration/concrete/create-with-start-time/createWithStartTime.tree
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/createWithStartTime.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

revert lite profile change
  foundry.toml
Due: none

remove unused import
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

improve explanatory comment
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add PENDING status
  DIAGRAMS.md
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/pause/pause.tree
  tests/integration/concrete/status-of/statusOf.t.sol
  tests/integration/concrete/status-of/statusOf.tree
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

perf: polish _adjustRatePerSecond
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
