Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: security assumptions
  SECURITY.md
Due: prettier --write

docs: fix link
  SECURITY.md
Due: prettier --write

docs: polish assumption
  SECURITY.md
Due: prettier --write

docs: polish security
  SECURITY.md
Due: prettier --write

docs(SECURITY): polish last point
  SECURITY.md
Due: prettier --write

feat: allow void for solvent streams feat: allow refund on voided streams docs: update docs docs(benchmark): include gas cost for voiding a solvent streams test: update concrete, fuzz and invariants
  DIAGRAMS.md
  README.md
  TECHNICAL-DOC.md
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/refund/refund.tree
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/void/void.tree
  tests/integration/fuzz/void.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

address my feedback on #290
  DIAGRAMS.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/void/void.tree
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

address feedback
  precompiles/Precompiles.sol
  src/SablierFlow.sol
  tests/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update diagrams
  DIAGRAMS.md
Due: prettier --write

shub feedback
  script/Base.s.sol
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  script/DeploymentLogger.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: append to the script dir instead
  .gitignore
  foundry.toml
  script/DeploymentLogger.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish populateAdminMap natspec
  script/DeploymentLogger.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove deployments from gitignore
  .gitignore
Due: none

fix: use uint256 for scaledOngoingDebt
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtOf.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/coveredDebtOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/integration/fuzz/ongoingDebtOf.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/refund.t.sol
  tests/integration/fuzz/refundableAmountOf.t.sol
  tests/integration/fuzz/totalDebtOf.t.sol
  tests/integration/fuzz/uncoveredDebtOf.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: remove undeeded down casting
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: use ">" in depletionTimeOf
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.tree
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

address last review comments
  src/SablierFlow.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.tree
Due: bun solhint --fix --noPrompt, forge fmt

feat: return amountWithdrawn and feeTaken in withdraw test: DRY'ify Vars struct
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/utils/Vars.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: follow somethingSomethingAmount pattern for variables naming refactor: explicitness with protocolFeeAmount
  foundry.toml
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/utils/Vars.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: emit BatchMetadataUpdate in setProtocolFee
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.tree
Due: bun solhint --fix --noPrompt, forge fmt

test: lower the rps bound range
  tests/invariant/handlers/FlowCreateHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: declare vars in Base contract docs: polish natspecs for withdraw and withdrawMax
  src/interfaces/ISablierFlow.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

merge conflict
  tests/integration/concrete/withdraw/withdraw.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: sd as 18 decimals
  benchmark/results/SablierFlow.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/coveredDebtOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/refundableAmountOf.t.sol
  tests/integration/fuzz/totalDebtOf.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: more consistent in dev natpsec
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

feedback on helpers
  src/libraries/Helpers.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: add "scaled" in ongoing and snapshot debt
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtOf.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtOf.tree
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/ongoingDebtOf.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/utils/Assertions.sol
  tests/utils/Utils.sol
  tests/utils/Vars.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: improve natspec
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.tree
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/utils/Vars.sol
Due: bun solhint --fix --noPrompt, forge fmt

last fixes
  src/SablierFlow.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.tree
  tests/integration/concrete/total-debt-of/totalDebtOf.tree
  tests/integration/fuzz/ongoingDebtScaledOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add sender and recipient params in deposit
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.tree
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/deposit/deposit.tree
  tests/integration/fuzz/deposit.t.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: refactor technical doc
  TECHNICAL-DOC.md
Due: prettier --write

fix: typo
  TECHNICAL-DOC.md
Due: prettier --write

chore: duplicated comment
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: use inequality in inv test
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update protocol assumptions
  SECURITY.md
Due: prettier --write

docs: polish wording
  SECURITY.md
Due: prettier --write

refactor: internal function to check for deposit params
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: refactor streamed amount invariant
  TECHNICAL-DOC.md
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
