Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: polish withdraw
  src/SablierFlow.sol
  src/libraries/Errors.sol
  test/integration/concrete/batch/batch.t.sol
  test/integration/concrete/withdraw/withdraw.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: increment tolerance in testFuzz_Tolerance_Delay
  test/integration/fuzz/ToleranceDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: disable logs from fuzz
  foundry.toml
Due: none

feat: scoop surplus amount of tokens
  README.md
  foundry.toml
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  test/fork/Flow.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  test/integration/concrete/deposit/deposit.t.sol
  test/integration/concrete/deposit/deposit.tree
  test/integration/concrete/recover/recover.t.sol
  test/integration/concrete/recover/recover.tree
  test/integration/concrete/refund/refund.t.sol
  test/integration/concrete/refund/refund.tree
  test/integration/concrete/withdraw-max/withdrawMax.t.sol
  test/integration/concrete/withdraw-max/withdrawMax.tree
  test/integration/concrete/withdraw/withdraw.t.sol
  test/integration/concrete/withdraw/withdraw.tree
  test/integration/fuzz/deposit.t.sol
  test/integration/fuzz/refund.t.sol
  test/integration/fuzz/withdraw.t.sol
  test/integration/fuzz/withdrawMax.t.sol
  test/invariant/Flow.t.sol
  test/utils/Events.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: remove unchecked in deposit
  README.md
  src/SablierFlow.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  test/integration/concrete/recover/recover.t.sol
  test/integration/concrete/refund/refund.t.sol
  test/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

undo type
  src/abstracts/SablierFlowBase.sol
  test/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

use unchecked in deposit
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add withdraw fuzz delay test
  test/integration/fuzz/withdrawDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

polish: docs
  README.md
  foundry.toml
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  test/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  test/integration/fuzz/Fuzz.t.sol
  test/integration/fuzz/coveredDebtOf.t.sol
  test/integration/fuzz/depletionTimeOf.t.sol
  test/integration/fuzz/ongoingDebtOf.t.sol
  test/integration/fuzz/refundableAmountOf.t.sol
  test/integration/fuzz/totalDebtOf.t.sol
  test/invariant/handlers/FlowCreateHandler.sol
  test/invariant/handlers/FlowHandler.sol
  test/utils/Events.sol
  test/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore: polish scale factor var
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

update readme
  README.md
Due: prettier --write

test(invariant): include delay in each period
  test/invariant/Flow.t.sol
  test/invariant/handlers/FlowHandler.sol
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: fix delay substraction
  test/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: push a new period in withdraw
  test/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add total streamed >= total streamed with delay invariant
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(invariant): polish docs
  README.md
  test/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(invariant): combine two functions into one
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

polish comment
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

empty space
  test/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(fuzz): test delay and deviations bounds
  tests/integration/fuzz/WithdrawMultiple.t.sol
  tests/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: polish withdraw multiple test
  tests/integration/fuzz/WithdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: rename test file
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: bound rps to realistic ranges
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

perf: don't update st if withdraw amount is less than sd
  src/SablierFlow.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: daily withdraw for an rps with 100 tokens monthly
  test/integration/concrete/withdraw-delay-daily/withdrawDelayDaily.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add a demonstrative delay tests
  precision.md
  test/integration/concrete/withdraw-delay-daily/withdrawDelayDaily.sol
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: change MAY_1_2024 with OCT_1_2024
  README.md
  diagrams.md
  precision.md
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/coveredDebtOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/integration/fuzz/refundableAmountOf.t.sol
  tests/utils/Constants.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: furthur polishes in precision file
  precision.md
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

feat: add images dir with plot graphs
  images/continuous_vs_discrete.png
  images/initial_function.png
  images/longest_delay.png
  images/no_delay.png
  precision.md
Due: prettier --write

docs: fix delay formula
  precision.md
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: use main branch instead of commit
  README.md
Due: prettier --write

docs: point to precision.md file in readme
  README.md
  precision.md
Due: prettier --write

test(fork): correct operator
  tests/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs(precision): correct latex variable name
  precision.md
Due: prettier --write

capitalize precision file
  PRECISION.md
Due: prettier --write

docs: polish comments
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs(precision): correct grammar
  PRECISION.md
  diagrams.md
Due: prettier --write

fix: deposit amount in fuzz and invariant tests
  tests/integration/fuzz/Fuzz.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(fuzz): add over streaming tests for wider ranges
  src/SablierFlow.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
