Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

docs: update changelog for v2.0.0
  CHANGELOG.md
Due: prettier --write

docs: note about archive
  README.md
Due: prettier --write

chore: bump bun.lock
  bun.lock
Due: none

docs: drop bug bounty wording, route disclosures to email
  README.md
  SECURITY.md
Due: prettier --write

ci: make workflows workflow_dispatch only
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
Due: prettier --write

style: fix forge fmt issues
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/calculate-min-fee-wei-for/calculateMinFeeWeiFor.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/refundMax.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/handlers/FlowHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore(deps): update @sablier/devkit to ^1.18.2
  bun.lock
  package.json
Due: prettier --write

fix(prettier): use esm config to resolve devkit default export
  .prettierrc.mjs
Due: none

docs: refresh README and add AGENTS.md context
  AGENTS.md
  CLAUDE.md
  README.md
  tests/invariant/README.md
Due: prettier --write

chore: remove CLAUDE.md symlink now that Claude Code reads AGENTS.md
  CLAUDE.md
Due: prettier --write

build: switch from @sablier/devkit to @prb/devkit
  .prettierrc.mjs
  AGENTS.md
  bun.lock
  justfile
  package.json
Due: prettier --write

ci: pin Ubuntu runners to 24.04
  .github/workflows/ci-multibuild.yml
Due: prettier --write
