Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

perf(invariant): using bounds to lower discard rates fix(invariant): calculating elapsed time when start time is in the future
  tests/Base.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowComptrollerHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: use vm.getBlockTimestamp()
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils test: allow Utils to inherit from BaseUtils test: use getBlockTimestamp() in invariant handlers
  bun.lock
  package.json
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

fix: update RouteMesh URLs from lb.routeme.sh to ca.routeme.sh
  foundry.toml
Due: none

chore: update RPC URLs from ca.routeme.sh to direct.routeme.sh
  foundry.toml
Due: none

test: move utility functions to Utils test: add fuzzAddrWithExclusion helper
  tests/Base.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils for deployments
  bun.lock
  package.json
Due: prettier --write

remove outdated chains
  scripts/solidity/NFTDescriptorAddresses.sol
  tests/integration/concrete/create/create.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

use npm package
  bun.lock
  package.json
Due: prettier --write

chore: comment tangle
  scripts/solidity/NFTDescriptorAddresses.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: use routemesh for rpc endpoints
  foundry.toml
  package.json
Due: prettier --write

feat: add nft descriptor deploy script
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicNftDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

various polishes
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployProtocol.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

add nft descriptor normal script
  scripts/solidity/DeployDeterministicFlowNFTDescriptor.s.sol
  scripts/solidity/DeployFlowNFTDescriptor.s.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: bump evm utils
  CHANGELOG.md
  bun.lock
  package.json
Due: prettier --write

docs: add PR refrence
  CHANGELOG.md
Due: prettier --write

test: use forceApprove in fork tests
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: add withdraw requirement about msg.value
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: add withdraw requirement about msg.value (#477)
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils chore: add monad to rpc_endpoints
  bun.lock
  foundry.toml
  package.json
Due: prettier --write

docs: fix comment
  tests/invariant/Invariant.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: bump actions/checkout to v6
  .github/workflows/ci-multibuild.yml
Due: prettier --write

build: bump evm-utils script: fix Init
  bun.lock
  foundry.toml
  package.json
  scripts/Init.s.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: add fee assumption
  SECURITY.md
Due: prettier --write

docs: add fee assumption (#479)
  SECURITY.md
Due: prettier --write

chore: bump bun.lock
  bun.lock
Due: none
