Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

feat: role based access control mechanism refactor: prefix events with associated interfaces
  .solhint.json
  bun.lock
  package.json
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: fix README amount owed formula reference
  README.md
Due: prettier --write

build: bump evm-utils
  bun.lock
  package.json
  src/abstracts/SablierFlowBase.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils docs: fix inherited components perf: use internal function to check role
  bun.lock
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

chore(nitpick): alphabetically order inherited contracts
  src/abstracts/SablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: remove isPaused function
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.tree
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/getters/getters.tree
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/pause/pause.tree
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.tree
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.tree
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/restart/restart.tree
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/void/void.tree
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/void.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/FlowHandler.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(invariant): status transitions
  tests/invariant/Flow.t.sol
  tests/invariant/README.md
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Assertions.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test(integration): verify stream status test(fork): fix bug
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.tree
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/pause/pause.tree
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.tree
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.tree
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/restart/restart.tree
  tests/integration/concrete/void/void.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/void.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(fork): verify stream status
  tests/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: use latest version of bun
  .github/workflows/ci-multibuild.yml
Due: prettier --write

chore: function headers
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

feat: return refunded amount on 'refundMax'
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test(refundMax): check for 'refundedAmount' return
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/fuzz/refundMax.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update condition-action check statement
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: bump solhint and evm-utils
  bun.lock
  package.json
Due: prettier --write

refactor: FlowBase to FlowState refactor: move non-getters to SablierFlow contract refactor: change initialNFTDescriptor type to address in constructor
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowState.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
Due: bun solhint --fix --noPrompt, forge fmt

address my feedback
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  src/SablierFlow.sol
  src/abstracts/SablierFlowState.sol
  src/interfaces/ISablierFlowState.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: various configs improvements
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  package.json
Due: prettier --write

feat: sophon network support
  .gitignore
  bun.lockb
  deploy/deploy.ts
  foundry.toml
  hardhat.config.ts
  hardhat.config.zkSync.ts
  package.json
Due: prettier --write

chore: rewrite me
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .lintstagedrc.js
  package.json
Due: prettier --write

chore: just scrips
  .lintstagedrc.js
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --write

chore: just scrips
  bun.lock
  package.json
Due: prettier --write

chore: just scrips
  .prettierrc.js
  .prettierrc.yml
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --write

docs: polish contributing guide
  CONTRIBUTING.md
  bun.lock
  justfile
  package.json
Due: prettier --write
