Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs(precision): shub feedback
  PRECISION.md
  tests/fork/Fork.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: polish test names
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: fix the logical errors and grammar in PRECISION.md
  PRECISION.md
Due: prettier --write

docs(precision): use "interval" over "time"
  PRECISION.md
Due: prettier --write

docs: rename file
  PRECISION-ISSUE.md
Due: prettier --write

docs: improve first part of the precision file
  PRECISION-ISSUE.md
Due: prettier --write

test: add when amount not exceed snapshot debt tree branch
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
Due: bun solhint --fix --noPrompt, forge fmt

capitalize diagrams file name
  DIAGRAMS.md
Due: prettier --write

docs(diagrams): update diagrams with voided status
  DIAGRAMS.md
  PRECISION-ISSUE.md
Due: prettier --write

test(invariant): add admin handler contract
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/adjustRatePerSecond.t.sol
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/pause.t.sol
  tests/integration/fuzz/refund.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Events.sol
Due: bun solhint --fix --noPrompt, forge fmt

shub feedback
  README.md
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/stores/FlowStore.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: add stream balances + protocol revenue = aggregate balance invariant
  README.md
  tests/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs(README): improve invariant list
  README.md
Due: prettier --write

test(invariant): polish some invariants
  README.md
  tests/invariant/Flow.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: remove isPaused from storage slot refactor: update snapshot time in pause and void
  README.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/types/DataTypes.sol
  tests/fork/Flow.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/utils/Assertions.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: polish comment in ongoingDebt
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: polish
  DIAGRAMS.md
  README.md
Due: prettier --write

refactor: allow zero rps in create
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/fuzz/create.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: update diagram for create
  diagrams.md
Due: prettier --write

address my feedback
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/restart/restart.t.sol
  tests/invariant/Flow.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: update invariant in readme
  README.md
Due: prettier --write

shub feedback
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

Address my feedback and other changes (#282)
  README.md
  diagrams.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/restart/restart.t.sol
  tests/invariant/Flow.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

refactor: use _adjustRatePerSecond in _create
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add rps zero tests in create and adjustRPS
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: return sablier logo in token uri
  src/SablierFlowNFTDescriptor.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: add generate token uri script
  script/GenerateSVG.s.sol
  shell/generate-svg.sh
Due: bun solhint --fix --noPrompt, forge fmt

test: update token uri test
  tests/integration/concrete/token-uri/tokenURI.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

refactor: rename nft descriptor contract
  precompiles/Precompiles.sol
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  script/GenerateSVG.s.sol
  shell/prepare-artifacts.sh
  shell/update-precompiles.sh
  src/FlowNFTDescriptor.sol
  src/SablierFlow.sol
  src/SablierFlowNFTDescriptor.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/IFlowNFTDescriptor.sol
  src/interfaces/ISablierFlowBase.sol
  tests/Base.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add a demonstrative delay tests
  precision.md
  test/integration/concrete/withdraw-delay-daily/withdrawDelayDaily.sol
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: daily withdraw for an rps with 100 tokens monthly
  test/integration/concrete/withdraw-delay-daily/withdrawDelayDaily.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: change MAY_1_2024 with OCT_1_2024
  README.md
  diagrams.md
  precision.md
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/coveredDebtOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/integration/fuzz/refundableAmountOf.t.sol
  tests/utils/Constants.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: furthur polishes in precision file
  precision.md
  test/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

feat: add images dir with plot graphs
  images/continuous_vs_discrete.png
  images/initial_function.png
  images/longest_delay.png
  images/no_delay.png
  precision.md
Due: prettier --write

docs: fix delay formula
  precision.md
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs(diagrams): update diagrams with voided status (#274)
  DIAGRAMS.md
  PRECISION-ISSUE.md
  README.md
Due: prettier --write

capitalize precision file
  PRECISION.md
Due: prettier --write

docs: point to precision.md file in readme
  README.md
  precision.md
Due: prettier --write

docs: update create flow
  DIAGRAMS.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.svg)) or (any of: *.yml)
  bun solhint --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
