Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write"
"*.sol":
  - "bun solhint --fix --noPrompt"
  - "forge fmt"

chore: remove redundant cache location
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: remove remappings.txt
  remappings.txt
Due: none

build: use bun lock textfile
  bun.lock
Due: none

build: use bun lock textfile
  bun.lock
  bun.lockb
Due: none

chore: update prettier ignore paths
  .prettierignore
Due: none

chore: remove remappings
  remappings.txt
Due: none

chore: git ignore bun.lockb
  .gitignore
  README.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

Remove remappings (#1238)
  .gitignore
  README.md
  remappings.txt
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: remove remappings file (#434)
  .gitignore
  README.md
  remappings.txt
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

fix: contract labels
  src/tests/BaseTest.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: collect fee with fee recipient
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/invariant/handlers/LockupHandler.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: nitpick for error natspec
  src/libraries/Errors.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: adminable with role-based access control mechanisms (#18)
  .github/workflows/ci.yml
  README.md
  codecov.yml
  src/RoleAdminable.sol
  src/interfaces/IRoleAdminable.sol
  src/mocks/RoleAdminableMock.sol
  tests/concrete/adminable/transferAdmin.t.sol
  tests/concrete/adminable/transferAdmin.tree
  tests/concrete/role-adminable/RoleAdminable.t.sol
  tests/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.t.sol
  tests/concrete/role-adminable/has-role-or-is-admin/hasRoleOrIsAdmin.tree
  tests/concrete/role-adminable/only-role/onlyRole.t.sol
  tests/concrete/role-adminable/only-role/onlyRole.tree
  tests/concrete/role-adminable/transfer-admin/transferAdmin.t.sol
  tests/concrete/role-adminable/transfer-admin/transferAdmin.tree
  tests/fuzz/adminable/transferAdmin.t.sol
  tests/fuzz/role-adminable/transferAdmin.t.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint --fix --noPrompt, forge fmt

feat: collect fee with fee recipient (#1239)
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/invariant/handlers/LockupHandler.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: collect fee with fee recipient (#435)
  bun.lock
  package.json
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint --fix --noPrompt, forge fmt

test: add role constants in BaseTest
  src/tests/BaseTest.sol
  tests/concrete/role-adminable/RoleAdminable.t.sol
  tests/fuzz/role-adminable/transferAdmin.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix: user labelling
  src/tests/BaseTest.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: remove remappings
  .gitignore
  README.md
  remappings.txt
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

test: fix bug in fork tests
  tests/fork/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: remove redundant docs (#431)
  DIAGRAMS.md
  README.md
  SECURITY.md
  TECHNICAL-DOC.md
  tests/invariant/Flow.t.sol
  tests/invariant/README.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint --fix --noPrompt, forge fmt

feat: access based control over collect fee function
  bun.lock
  package.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.tree
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint --fix --noPrompt, forge fmt

docs: polish comment
  src/abstracts/SablierLockupBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: new cache mechanism
  .github/workflows/ci-deep.yml
  .lintstagedrc.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: new cache mechanism
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .lintstagedrc.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write
