Repository sablier-labs/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint --fix --noPrompt, forge fmt

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.svg": "prettier --write",
  "*.yml": "prettier --write",
  "*.sol": ["bun solhint --fix --noPrompt", "forge fmt"]
}

fix: depletionTimeOf calculation
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.tree
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

perf: DRY'ify oneWeiScaled vriable
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: revert WARP_SOLVENCY_PERIOD and declare expectedDepletionTime in DepletionTimeOf integration test
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/utils/Constants.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: remove carry variable to avoid stack too deep error on lite profile
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: rename oneWeiScaled to oneMVTScaled
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: rename wei to mvt in invariant
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: defining MVT
  src/SablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

ci: fix slack notify
  .github/workflows/ci-deep.yml
Due: prettier --write

docs: refactor technical doc
  TECHNICAL-DOC.md
Due: prettier --write

fix: typo
  TECHNICAL-DOC.md
Due: prettier --write

polish docs
  TECHNICAL-DOC.md
Due: prettier --write

update plot images
  images/initial_function.png
  images/longest_delay.png
  images/no_delay.png
Due: none

chore: use wpt to represent previous withdrawal time
  TECHNICAL-DOC.md
Due: prettier --write

test: use equality in the withdraw multiple test
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: use equality in invariant
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

docs: remove delay sections in technical doc
  TECHNICAL-DOC.md
  images/continuous_vs_discrete.png
  images/initial_function.png
  images/longest_delay.png
  images/no_delay.png
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: update security assumption
  SECURITY.md
Due: prettier --write

docs: add conclusion header
  TECHNICAL-DOC.md
Due: prettier --write

test: remove delay tests
  tests/integration/concrete/withdraw-delay/withdrawDelay.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: rename test to tests in script
  package.json
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/restart.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

shub feedback
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/Flow.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

update invariant and comment
  TECHNICAL-DOC.md
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

test: remove private function
  tests/integration/fuzz/withdrawMultiple.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: refundMax
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  precompiles/Precompiles.sol
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund-max/refundMax.tree
  tests/integration/fuzz/refundMax.t.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

docs: fix typo
  src/interfaces/ISablierFlow.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add getters tests
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/getters/getters.tree
Due: bun solhint --fix --noPrompt, forge fmt

test: fix category in getters test suite
  tests/integration/concrete/getters/getters.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

Created IBatch interface and inherited it into ISablierFlowBase interface
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

address my feedback
  src/SablierFlow.sol
  src/abstracts/Batch.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

chore: update inherited components
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: support EIP165 interface
  src/abstracts/SablierFlowBase.sol
  tests/integration/concrete/constructor.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

feat: revert depletionTimeOf if balance is zero
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.tree
Due: bun solhint --fix --noPrompt, forge fmt

feat: round up protocol fee if it rounds down to 0
  src/interfaces/ISablierFlow.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/fuzz/withdraw.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: fix function name
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

fix comment contract name
  tests/integration/concrete/constructor.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: add Shared_Integration_Concrete_Test
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/status-of/statusOf.t.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: adds givenBalanceNotZero modifier to testFuzz_DepletionTimeOf
  tests/integration/fuzz/depletionTimeOf.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

test: remove unneeded defaultBroker function
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
Due: bun solhint --fix --noPrompt, forge fmt

build: use simultaneously compilation
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  benchmark/results/SablierFlow.md
  foundry.toml
  package.json
  precompiles/Precompiles.sol
  shell/prepare-artifacts.sh
  shell/update-precompiles.sh
  tests/Base.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
  tests/utils/Precompiles.t.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint --fix --noPrompt, forge fmt

ci: remove foundry profile parameter
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
Due: prettier --write
